/*!
 * Criado e desenvolvido por 9Web Sistemas
 * Desenvolvedor Eliton Campos Silva
 */

@import url('https://fonts.googleapis.com/css?family=Rubik:400,500&display=swap');

:root {
    --primary: #2c3e50;
    --secondary: #535c68;
    --success: #5cb377;
    --danger: #d26d69;
    --warning: #EEBF41;
    --info: #5b99ea;
    --blue: #2196F3;
    --indigo: #3F51B5;
    --purple: #6f42c1;
    --pink: #d63384;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #198754;
    --teal: #20c997;
    --cyan: #0dcaf0;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html,
body {
    height: 100%;
    font-family: 'Rubik', sans-serif;
    scrollbar-color: var(--gray-dark);
    scrollbar-width: thin;
    /* background-color: #eee; */
    color: #6c757d;
    display: flex;
    width: 100%;
    align-items: center;
    background-image: url(../images/bgc_login.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

.container {
    width: 80%;
    margin: 0 auto;
    max-width: 420px;
    padding: 20px;
    background-color: #fff;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    display: flex;
    align-items: center;
}

input[type=text],
input[type=password] {
    font-size: 1em;
    width: 100%;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 0px;
    background-color: #ddd;
}

button {
    width: 100%;
    padding: 20px;
    border: 2px solid var(--success);
    /* background-color: #8854d0; */
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: var(--success);
    color: #FFF;
    transition: 0.3s;
}

p {
    text-align: center;
}

h1 {
    text-align: center;
    font-size: 1.3em;
    margin-bottom: 20px;
    font-weight: 500;
}

a {
    color: var(--primary);
}

a:hover {
    color: var(--secondary);
}

.warning {
    border: 2px solid red;
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
    color: red;
}

#warning_caps {
    border: 2px solid var(--warning);
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
    color: var(--warning);
    display: none;
}