/*!
 * Criado e desenvolvido por 9Web Sistemas
 * Desenvolvedor Eliton Campos Silva
 */

@import url("mobile.css");
@import url("globals.css");
@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap');

:root {
    --primary: #1d3557;
    --secondary: #2c5288;
    --success: #5cb377;
    --danger: #e63946;
    --warning: #EEBF41;
    --info: #5b99ea;

    --blue: #2196F3;
    --indigo: #3F51B5;
    --purple: #6f42c1;
    --pink: #d63384;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #198754;
    --teal: #20c997;
    --cyan: #0dcaf0;
    --white: #fff;
    --light-gray: #eeeeee;
    --gray: #6c757d;
    --gray-dark: #343a40;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html,
body {
    height: 100%;
    font-family: 'Rubik', sans-serif;
    scrollbar-color: var(--gray-dark);
    scrollbar-width: thin;
    background-color: #eee;
    color: #4a4b4d;
    width: 100%;
    position: relative;
}

a {
    color: var(--primary);
}

a:hover {
    color: var(--secondary);
}

input[type=text],
input[type=date],
input[type=password],
input[type=email] {
    padding: 12px;
    border: 0;
    background-color: white;
    border-radius: 5px;
}

input[type=date] {
    padding: 10px;
    border: 0;
    background-color: white;
    border-radius: 5px;
}


select {
    padding: 11px;
    border: none;
    background-color: white;
    border-radius: 5px;
}

textarea {
    border: 0;
    background-color: white;
    height: 100px;
    resize: none;
    font-size: 12pt;
    padding: 12px;
}

button, 
input[type=submit] {
    padding: 12px;
    background-color: var(--primary);
    border-radius: 5px;
    color: white;
    border: none;
    font-size: 12pt;
    cursor: pointer;
}

button:hover, 
input[type=submit]:hover {
    background-color: var(--secondary);
    transition: all 0.2s ease;
}

.btn {
    padding: 10px;
    background-color: var(--primary);
    border-radius: 5px;
    color: white;
}

.btn:hover {
    background-color: var(--secondary);
    color: white;
    transition: all 0.2s ease;
}

.btn_info {
    padding: 10px;
    background-color: var(--info);
    border-radius: 5px;
    color: white;
}

.btn_info:hover {
    background-color: var(--secondary);
    color: white;
    transition: all 0.2s ease;
}

.btn_danger {
    padding: 10px;
    background-color: var(--danger);
    border-radius: 5px;
    color: white;
}

.btn_danger:hover {
    background-color: var(--secondary);
    color: white;
    transition: all 0.2s ease;
}

.btn_warning {
    padding: 10px;
    background-color: var(--warning);
    border-radius: 5px;
    color: white;
}

.btn_warning:hover {
    background-color: var(--secondary);
    color: white;
    transition: all 0.2s ease;
}

.btn_succes {
    padding: 10px;
    background-color: var(--success);
    border-radius: 5px;
    color: white;
}

.btn_succes:hover {
    background-color: var(--secondary);
    color: white;
    transition: all 0.2s ease;
}


/* CONTAINER */
.container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    min-height: 100vh;
    position: relative;
}

.aside {
    width: 250px;
    height: 100%;
    position: fixed;
    background-color: var(--primary);
    overflow-y: auto;

    transition: .5s all;
    scrollbar-color: #7f7f7f;
    scrollbar-width: thin;
}

.aside::-webkit-scrollbar {
    width: 6px;
}

.aside::-webkit-scrollbar-thumb {
    background: #7f7f7f;
}

.main_content {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    transition: all 0.5s ease;
    width: calc(100% - 250px);
}

footer {
    width: 100%;
    text-align: center;
    padding: 20px;
}

/* MAIN CONTENT */
.main_content_full {
    position: absolute;
    width: 100%;
    transition: all 0.5s ease;
    left: 0;
}

.main_content_normal {
    transition: all 0.5s ease;
    left: 250px;
}

.main_content header {
    flex-basis: 100%;
    display: flex;
    height: 60px;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    background-color: white;
}

.main_content header .toggle_menu {
    cursor: pointer;
}

.main_content header input {
    padding: 10px;
    border-radius: 25px;
    background-color: #f1f1f1;
    width: 300px;
    text-align: center;
    font-size: 0.9em;
}

.main_content section {
    display: flex;
    max-width: 1360px;
    flex-basis: 100%;
    margin: 0 auto;
    padding: 10px 20px;
    min-height: calc(100vh - 120px);
}

.main_content section article {
    flex-basis: 100%;
}

/* MENU */
.aside nav {
    color: white;
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
}

.logo {
    color: white;
    text-align: center;
    flex-basis: 100%;
    padding: 20px;
    font-size: 1.3em;
}

nav a {
    color: white;
}

nav a:hover {
    color: #CCC;
}

.item {
    overflow: hidden;
    flex-basis: 100%;
}

.btn-menu {
    display: block;
    padding: 16px 26px;
    color: #fff;
    position: relative;
}

.btn-menu::before {
    content: '';
    position: absolute;
    background-color: var(--primary);
    width: 14px;
    height: 14px;
    left: 20px;
    bottom: -7px;
    transform: rotate(45deg);
}

.btn-menu i {
    width: 40px;
}

.submenu {
    background-color: #1a325a;
    overflow: hidden;
    transition: 0.3s;
    max-height: 0;
    flex-basis: 100%;
}

.submenu a {
    display: block;
    color: #fff;
    padding: 16px 26px;
    font-size: 14px;
    margin: 5px 0;
    position: relative;
}

.submenu a::before {
    content: '';
    position: absolute;
    background-color: #bdc3c7;
    height: 100%;
    width: 6px;
    left: 0;
    top: 0;
    transition: 0.3s;
    opacity: 0;
}

.submenu a:hover::before {
    opacity: 1;
}

.item:target .submenu {
    max-height: 15em;
}

/* CONTENT*/
.breadcrumb {
    display: flex;
    flex-basis: 100%;
    justify-content: space-between;
    color: var(--primary);
    align-items: center;
}

.breadcrumb>div {
    display: flex;
    padding: 15px 0;
    font-size: 1.3em;
}

.icon{
    margin-right: 5px;
}

.breadcrumb>div i {
    padding: 0 5px;
}

.menu_data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    margin-bottom: 10px;
}

.search_inventory {
    display: flex;
    flex-basis: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 4em 0;
    flex-wrap: wrap;
    background-color: #DDD;
    border-radius: 5px;
    padding: 15px;
}

.search_inventory p {
    flex-basis: 100%;
    font-size: 1.3em;
}

.search_inventory span {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
}

.search_products {
    flex-basis: 100%;
    padding: 0.75em !important;
    font-size: 1.3em !important;
    max-width: 800px;
}

.data_info {
    padding: 16px;
    background-color: #DDD;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title_list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.title_list p {
    font-size: 1.2em;
    font-weight: 500;
}

/* TABLE */
.table_header {
    flex-basis: 100%;
    padding: 15px 5px;
    background-color: #ddd;
    border-radius: 5px;
    margin-bottom: 7px;
    display: flex;
    font-weight: 600;
    color: var(--primary);
}

.table_data {
    flex-basis: 100%;
    padding: 10px 5px;
    background-color: white;
    border-radius: 5px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
}

.pagination {
    margin-top: 20px;
    display: flex;
    background-color: #DDD;
    border-radius: 5px;
    justify-content: center;
    padding: 15px;
}

.pag_item {
    padding: 10px 15px;
    border: 1px solid var(--primary);
    border-radius: 5px;
    margin: 0 3px;
}

.pag_active {
    background-color: var(--primary);
    color: white;
}

.pag_item:hover {
    background-color: var(--primary);
    color: white;
    transition: all 0.2s ease;
}

/* DROPDOWNS ITENS */
.dropbtn {
    background-color: var(--primary);
    color: #FFF;
    border-radius: 5px;
    padding: 0.3em;
    cursor: pointer;
}

.dropbtn:hover,
.dropbtn:focus {
    background-color: var(--secondary);
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    left: -140px;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
    text-align: left;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}

.hide{
    display: none;
}

/* FLASHS */
.flash_info {
    display: flex;
    flex-basis: 100%;
    border: 2px solid var(--info);
    border-radius: 5px;
    padding: 1em;
    justify-content: center;
    color: var(--info);
    align-items: center;
}

.flash_success {
    display: flex;
    flex-basis: 100%;
    border: 2px solid var(--success);
    border-radius: 5px;
    padding: 1em;
    justify-content: center;
    color: var(--success);
    align-items: center;
}

.flash_warning {
    display: flex;
    flex-basis: 100%;
    border: 2px solid var(--warning);
    border-radius: 5px;
    padding: 1em;
    justify-content: center;
    color: var(--info);
    align-items: center;
}

.flash_danger {
    display: flex;
    flex-basis: 100%;
    border: 2px solid var(--danger);
    border-radius: 5px;
    padding: 1em;
    justify-content: center;
    color: var(--info);
    align-items: center;
}

.info{
    background-color: var(--info);
    color: white;
    padding: 5px;
    border-radius: 5px;
}

.info_succes{
    background-color: var(--success);
    color: white;
    padding: 5px;
    border-radius: 5px;
}

.info_danger{
    background-color: var(--danger);
    color: white;
    padding: 5px;
    border-radius: 5px;
}

.info_warning{
    background-color: var(--warning);
    color: white;
    padding: 5px;
    border-radius: 5px;
}

.display_print {
    display: none;
}

/* CARDS */
.main_card{
    padding: 25px;
    border-radius: 5px;
    background-color: white;
    text-align: center;
}

.main_card p{
    font-size: 1.5em;
}

.card{
    flex-basis: 30%;
    display: flex;
    background-color: white;
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 25px;
    align-items: center;
    justify-content: space-between;
}

.card span{
    text-align: right;
}

.card_setting{
    flex-basis: 23%;
    display: flex;
    background-color: white;
    border-radius: 5px;
    margin: 10px;
    padding: 25px;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}

.card_setting:hover{
    background-color: var(--primary);
    color: white;
}

.card_setting p{
    flex-basis: 100%;
    padding: 10px;
}

/* COLORS */
.c_info{
    color: var(--info);
}

.c_danger{
    color: var(--danger);
}

.c_warning{
    color: var(--warning);
}

.c_success{
    color: var(--success);
}

.bg_info{
    background-color: var(--info);
}

.bg_danger{
    background-color:var(--danger);
}

.bg_success{
    background-color: var(--success);
}

.bg_warning{
    background-color: var(--warning);
}

.bg_white{
    background-color: white;
}

.bg_lt_gray{
    background-color: var(--light-gray);
}

.table_danger{
background-color: #ffdcdb;
}

.table_success{
    background-color: #5cb377;
}

.signature_line{
    border: 1px solid var(--gray-dark);
}

.unauthorized{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 20%;
}

.menu_data-filter{
    width: 100%;
    background-color: var(--gray);
    color: white;
    border-radius: 5px;
    padding: 1em;
    margin-bottom: 1em;
    display: none;
}